<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758036195328-4e5sjt9bau9chp30vghh8j2b1qin84oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758036195328-4e5sjt9bau9chp30vghh8j2b1qin84oq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>758036195328-2nt01rflte069u4gvri025fpe2fgm9h0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8k1oOcFhfDYqFjtLOUcAz6q83ocCdwfc</string>
	<key>GCM_SENDER_ID</key>
	<string>758036195328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.develop4god.devocional.appstore</string>
	<key>PROJECT_ID</key>
	<string>devocional-app</string>
	<key>STORAGE_BUCKET</key>
	<string>devocional-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758036195328:ios:d68a757d3d9635186450e5</string>
</dict>
</plist>